<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dispositivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Dispositivos
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item 
      detail 
      *ngFor="let disp of listadoDispositivos" 
      [routerLink]="['/dispositivo/'+ disp.dispositivoId]" 
      routerLinkActive="router-link-active" 
    >
      <ion-icon 
        name="logo-rss"
        slot="start"
      >
      </ion-icon>
      
      <ion-label>
        <h3 appBold>
          Sensor {{disp.dispositivoId}} - {{disp.nombre}}
        </h3>
        <p>
          {{disp.ubicacion}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
