#mediciones {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#mediciones th{
    text-align: center !important;
}

#mediciones {
    text-align: center;
}

#mediciones td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mediciones tr:nth-child(even){background-color: #f2f2f2;}

#mediciones tr:hover {background-color: #ddd;}

#mediciones th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


#aviso {
    width: 100%;
    text-align: center;
    color: #999999;
    margin-top: 50px;
}