<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Riegos
    </ion-title>
    
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Riegos
      </ion-title>
      
      <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="listaRiegos">
    <ng-container *ngIf="listaRiegos.length === 0 else tabla">
      <div id="aviso">
        No se tiene informacion de riegos a la fecha.
      </div>
    </ng-container> 

    <ng-template #tabla>
      <table id="riegos">
        <tr>
          <th>Fecha</th>
          <th>Acción</th>
        </tr>

        <tr *ngFor="let riego of listaRiegos">
          <td>{{riego.fecha | fecha}} </td>
          <td>{{riego.apertura? "Apertura" : "Cierre"}}</td>
        </tr>
      </table>
    </ng-template>
  </div>
</ion-content>
